#pytest==8.3.4
#pytest-xdist==3.6.1
#pytest-timeout==2.3.1
#pytest-repeat==0.9.3
#pytest-html==4.1.1

#git+https://github.com/Projectplace/pytest-tags
#git+https://github.com/wangting0128/locust.git@2.25.0

#pymongo==4.11.1
#influxdb==5.3.2
#influxdb-client==1.48.0
#PyMySQL==1.1.1
#kubernetes==32.0.1

#tqdm==4.67.1
#scikit-learn==1.6.1
#pyarrow==19.0.1
#pandas==2.2.3
#numpy==2.2.3
#h5py==3.13.0
#PyYAML==6.0.2
#ml_dtypes==0.5.1
#dacite==1.9.2
#scipy==1.15.2
